.internship-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.internship-card:hover {
  transform: translateY(-6px);
}

.internship-title {
  font-size: 1.4rem;
  color: #4361ee;
}

.company-name {
  color: #666;
}

.internship-tags {
  display: flex;
  gap: 0.5rem;
  margin: 10px 0;
  flex-wrap: wrap;
}

.internship-tag {
  background: #f1f3ff;
  padding: 6px 12px;
  border-radius: 20px;
  color: #4361ee;
  font-size: 0.85rem;
}

.internship-meta {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  color: #555;
  margin-bottom: 15px;
}

.internship-meta svg {
  color: #4361ee;
  margin-right: 4px;
}

.internship-view-btn {
  background: #4361ee;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.internship-view-btn:hover {
  background: #3f37c9;
}
