.section-title-container {
  text-align: center;
  margin-bottom: 40px;
}

.section-title {
  font-size: 2rem;
  color: #4361ee;
  font-weight: 700;
}

.section-subtitle {
  color: #777;
  margin-top: 6px;
  font-size: 1rem;
}
